[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
model-mommy = "*"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
python-decouple = "*"
install = "*"
psycopg2-binary = "*"
ipdb = "*"

[requires]
python_version = "3.8"
