{% extends "base/base.html" %}
{% block title %}Todo App - Login{% endblock %}
{% block nav_title %}Todo App - Login{% endblock %}
{% block body %}
<br><br>
    <div class="card" style="width: 15rem; margin: 0 auto; border-width:2px; border-color:#0a106e;">
        <form class="form-group" action="/auth/login-validation/" method="post">
            {% csrf_token %}
            <br>
            {% if message %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            <h5 align="center" class="card-title">Faça o seu Login</h5><br>
            <div class="form-group" align="center">
                <label for="exampleInputEmail1" class="form-control" style= "width: 13rem;border-color:black;">Usuário</label>
                {{ form.name }}
                <br>
            </div>
            <div class="form-group" align="center">
                <label for="inputPassword" class="form-control" style="width:13rem;border-color:black;">Senha</label>
                {{ form.passwd }}
                <br>
            </div>
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" >Entrar</button>
                <br>
                <p style="margin:left;">
                    <a href={% url 'authentication:passwd-recovery' %}>Esqueci minha senha</a>
                    <br>
                </p>

                <a class="btn btn-secondary" href={% url 'authentication:sign-up'%} role="button">
                    Criar nova conta
                </a>
            </div>
        </form>
    </div>
{% endblock %}
